@import "../../../variables";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;

  &__content {
    position: relative;
    padding: 25px;
    background: $white-color;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    min-width: 296px;
    max-width: 500px;
    align-items: flex-start;
  }

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    padding: 16px 16px 16px 0;
    display: flex;

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: black;
      margin: 0;
    }
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 17px;
  }
}
