@import "../../../variables";

@mixin button-styles($border-color, $background-color, $text-color) {
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid $border-color;
  border-radius: 4px;
  background-color: $background-color;
  color: $text-color;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: darken($background-color, 5%);
  }
}

.button {
  &.outlined {
    &.red {
      @include button-styles($red-color, transparent, $red-color);
    }
    &.blue {
      @include button-styles($blue-color, transparent, $blue-color);
    }
  }

  &.contained {
    &.red {
      @include button-styles(transparent, $red-color, #fff);
    }
    &.blue {
      @include button-styles(transparent, $blue-color, #fff);
    }
  }
}
